body, html {
    width: 100%;
    height: 100%;
    overflow: scroll;
    font-size: 39px;
}

body {
    margin: 0;
}

button, input {
    overflow: visible;
}

.layout {
    position: relative;
    background-color: #fff;
}

.layout img {
    width: 100%;
}

.userBtn {
    position: absolute;
    width: 0.7rem;
    height: 2.2rem;
    top: 1.7rem;
    left: 0;
    background: url('../resources/img/user-btn.png') no-repeat;
    background-size: contain;
}

.ruleBtn {
    position: absolute;
    width: 0.7rem;
    height: 2.2rem;
    top: 1.7rem;
    right: 0;
    background: url('../resources/img/rule-btn.png') no-repeat;
    background-size: contain;
}

.scroll {
    position: absolute;
    width: 8.1rem;
    height: .95rem;
    top:8.44rem;
    left: 50%;
    transform: translateX(-50%);
    background: url('../resources/img/scroll-bg.png') no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.van-notice-bar__wrap {
    font-size: .37333rem;
    line-height: .64rem;
    color: #fff;
    position: relative;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    justify-content: center;
}

.van-notice-bar__content {
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    white-space: nowrap;
    transition-timing-function: linear;
    max-width: 100%;
}

.van-swipe {
    position: relative;
    overflow: hidden;
    transform: translateZ(0);
    cursor: grab;
    user-select: none;
    height: .53333rem;
    line-height: .46667rem;
}

.van-swipe__track {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

/* -webkit-tap-highlight-color: transparent;
-webkit-text-size-adjust: 100%;
font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Segoe UI,Arial,Roboto,PingFang SC,miui,Hiragino Sans GB,Microsoft Yahei,sans-serif;
font-size: .37333rem;
color: #fff;
white-space: nowrap;
cursor: grab;
user-select: none;
line-height: .46667rem;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
flex-direction: column;
transition-duration: 500ms;
transform: translateY(-105px);
height: 126px; */

.van-swipe-item {
    position: relative;
    flex-shrink: 0;
    width: 100%;
}

.phone {
    position: absolute;
    width: 8.05rem;
    height: .97rem;
    top:9.786rem;
    left: .9733rem;
    background: url('../resources/img/input-bg.png') no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
}

.inputPhone {
    width: 90%;
    height: 60%;
    margin-left: 0.33333rem;
    border: 0.01333rem solid transparent;
    background: transparent;
    color: #fff;
    font-size: .37333rem;
    font-family: Source Han S;
    font-weight: 500;
}

.submit1, .submit2 {
    width: 4.77333rem;
    height: 1.21333rem;
    position: absolute;
    top: 11.4rem;
    left: 2.61333rem;
    background: url('../resources/img/submit.png') no-repeat;
    background-size: cover;
    -webkit-animation: pulsate-bck .8s ease-in-out infinite both;
    animation: pulsate-bck .8s ease-in-out infinite both;
}
.submit1 {
    top: 12.36rem;
}

@-webkit-keyframes pulsate-bck { 
    0% { -webkit-transform: scale(1); } 
    50% { -webkit-transform: scale(.9); } 
    100% { -webkit-transform: scale(1); } 
}
@keyframes pulsate-bck { 
    0% { -webkit-transform: scale(1); } 
    50% { -webkit-transform: scale(.9); } 
    100% { -webkit-transform: scale(1); } 
}

.code {
    width: 8.05333rem;
    height: 0.97333rem;
    position: absolute;
    top: 10.85333rem;
    left: 0.97333rem;
    background: url('../resources/img/input-bg.png') no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
}
.inputCode {
    width: 57%;
    height: 60%;
    margin-left: 0.33333rem;
    border: 0.01333rem solid transparent;
    background: transparent;
    color: #fff;
    font-size: .37333rem;
    font-family: Source Han S;
    font-weight: 500;
}

.getCode {
    width: 2.96rem;
    height: 0.97333rem;
    flex: 1;
    font-size: .48rem;
    font-family: PingFang SC;
    font-weight: 700;
    color: #fff;
    line-height: .97333rem;
    text-align: center;
    background: url(../resources/img/yzm-bg.png) no-repeat;
    background-size: contain;
}

.tip1, .tip2 {
    width: 7.33333rem;
    height: .28rem;
    position: absolute;
    top: 13.06667rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: .26667rem;
    font-family: Source Han Sans CN;
    font-weight: 700;
    color: #fff;
    white-space: nowrap;
    display: flex;
}

.tip1 {
    top: 13.85333rem;
}


input[type=checkbox]{
	/* visibility: hidden; */
    margin: 0;
    padding: 0;
    width: 0.37333rem;
    height: 0.37333rem;
    line-height: .37333rem;
}


/* .tip2 .checkBox .van-checkbox {
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
} */
/* .van-checkbox__icon {
    -webkit-box-flex: 0;
    flex: none;
    height: 1em;
    font-size: .533rem;
    line-height: 1em;
    cursor: pointer;
} */
/* .van-icon {
    position: relative;
    font: normal normal normal .37333rem/1 vant-icon;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    display: block;
    box-sizing: border-box;
    color: transparent;
    font-size: .8em;
    text-align: center;
    transition-duration: .2s;
    transition-property: color,border-color,background-color;
    width: .37333rem;
    height: .37333rem;
    line-height: .37333rem;
    border: none;
} */

.tip2 .content {
    height: .37333rem;
    line-height: .37333rem;
    margin-left: .13333rem;
}

a {
    color: #1989fa;
}

.product_info_box,.product_info_box_2{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.6);
}

.product_info{
    position: absolute;
    color: #FFF;
    width: 90%;
    height: 60vh;
    top: 10vh;
    left: 5%;
    padding: 0.5rem;
    box-sizing: border-box;
    font-size: .4rem;
    line-height: 1rem;
    overflow: scroll;
    background-color: rgba(90,20,170,.8);
    border-radius: 0.8rem;
}

.product_info_bnt,.product_info_bnt_2{
    position: absolute;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 0.7rem;
    width: 35%;
    height: 1.6rem;
    line-height: 1.6rem;
    bottom: 20vh;
    background-color: rgb(90,20,170);
    border-radius: 1.5rem;
    left: 30%;
}

.product_info_bnt2,.activity_info_bnt2{
	position: absolute;
	width: 40%;
	left: 30%;
	bottom: 6vh;
}
.product_info_bnt2 img,.activity_info_bnt2 img{
	width: 100%;
}

.wrapperUser {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    font-size: 15px;
    /* animation: slide-in-top .5s cubic-bezier(.25,.46,.45,.94) both; */
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-13.33333rem);
        transform: translateX(-13.33333rem);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.wrapperUser .userDialog {
    width: 8.01333rem;
    height: 11.24rem;
    margin: auto;
    margin-top: 25%;
    position: relative;
    animation: slide-in-top .5s cubic-bezier(.25,.46,.45,.94) both;
}
.wrapperUser .userDialog .title{
    width: 4rem;
    height: 0.61333rem;
    position: absolute;
    top: 3.13333rem;
    text-align: center;
    left: 1.93333rem;
    font-size: .45333rem;
    font-family: Microsoft YaHei;
    font-weight: 700;
    color: #fff;
    line-height: .61333rem;
}
.wrapperUser .userDialog .content {
    position: absolute;
    top: 4.66667rem;
    left: 50%;
    transform: translateX(-50%);
    width: 8rem;
    height: 5.46667rem;
    overflow: hidden;
}
.wrapperUser .userDialog .content .item {
    width: 100%;
    height: 0.77333rem;
    display: flex;
    justify-content: space-around;
    line-height: .77333rem;
}
.wrapperUser .userDialog .content .item:first-child p{
    font-size: .37333rem;
    font-family: Microsoft YaHei;
    font-weight: 700;
    color: #340893;
}
.wrapperUser .userDialog .content .item p{
    margin: 0;
    font-size: .28rem;
    font-family: PingFang SC;
    font-weight: 400;
    color: #fff;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.wrapperUser .userDialog .closeBtn {
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    top: 2.82667rem;
    right: 0;
    background: url('../resources/img/close.png') no-repeat;
    background-size: contain;
}

.tan_box {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.6);
}

.tan_box .bg_box {
	position: absolute;
	background-color: rgba(249,129,59,1);
    border-radius: 30px;
	top: 18vh;
	left:5%;
	width: 90%;
	height: 16rem;
}

.tan_box .bg_box img[alt*="dianxin"] {
	position: absolute;
    top: 0.3rem;
    left: 0.3rem;
	height: 10%;
}

.tan_box .bg_box .dg_box{
	position: absolute;
	top: 1.2rem;
	left:1.4rem;
	width: 80%;
	height: 90%;
	margin: 0.2rem;
	font-size: 0.6rem;
	text-align: center;
    display: flex;
	flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.tan_box .bg_box .dg_box .ty_info{
	display: flex;
	flex-direction: column;
	height: 3rem;
}

.tan_box .bg_box .dg_box img{
	height: 1.6rem;
}

.tan_box .bg_box .dg_box p{
	font-size: 0.7rem;
	text-align: left;
	background-color: rgba(255,255,255,.7);
}

.tan_box .bg_box .dg_box .yzm_box {
	height: 1.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.yzm_box div {
	width: 3.2rem;
    height: 1.2rem;
    border: 1px solid gray;
    background-color: wheat;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn_yzm1 {
	font-size: 1rem;
    font-family: Comic Sans MS;
}

.tan_box .bg_box .dg_box .yzm_box input {
	display: block;
	margin: 0.2rem;
	width: 6rem;
	height: 1.2rem;
	outline: none;
	border: none;
	background: rgba(0, 0, 0, 0);
	text-align: center;
	font-size: 0.7rem;
	color: #000;
	border: 1px solid gray;
}

.tan_box .bg_box .dg_box .btn_new {
	width: 6rem;
    height: 1.7rem;
    bottom: 1rem;
    background: rgba(255,255,255,.7);
    border-radius: 0.9rem;
    font-size: 0.8rem;
    text-align: center;
	display: flex;
    align-items: center;
    justify-content: center;
}

.success_box {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.6);
}

.succ_box {
	position: absolute;
	top: 20vh;
	left:5%;
	width: 90%;
	height: 20rem;

}

.succ_box img {
	width: 100%;
	height: 100%;
}
